<div class="row justify-content-center">
  <div class="col-lg-7">
    <GalleryIntro @gallery={{@model}} />
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <div class="gallery__photos card-columns">
      <GallerySlider @gallery={{@model}} />
    </div>
  </div>
</div>