@import url('https://fonts.googleapis.com/css?family=Sorts+Mill+Goudy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Forum&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@1&display=swap');

html {
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Forum', cursive;
  text-align: center;
  letter-spacing: 0.125em;
  line-height: 1.3em;
  margin-bottom: 20px;
}

h3 {
  font-size: 1.4rem;
}

h4 {
  font-size: 0.9rem;
}

p {
    font-size: 0.825rem;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    line-height: 2;
    color: rgba(0,0,0,.7);
}

nav {
  font-size: 0.85rem;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  line-height: 2;
  text-transform: capitalize;
  letter-spacing: 0.075em;
}

.navbar-expand-md .navbar-nav a.nav-link {
  padding: 1.5rem 1.3rem 1rem;
}

.navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link:hover {
  color: #8d715d
}

.navbar-light .navbar-nav .nav-link:hover {
  border-bottom: 1px solid #8d715d;
}

.navbar-light .navbar-nav .nav-link {
    color: #8d715dc4;
}

.brand-logo {
  height: 40px;
  opacity: 0.8;
}

.intro-header {
  display: table;
  width: 100%;
  height: 100vh;
  background: url("/img/bg-img.jpeg") no-repeat 60% center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

@media(min-width:768px) {
  .intro-header {
    background-position: center center;
  }
}

.intro-header__body {
  display: table-cell;
  vertical-align: middle;
  opacity: 0.65;
}

h4.top-header {
  font-family: 'Forum', cursive;
  letter-spacing: 0.15em;
  line-height: 1.1em;
  font-size: 1.2rem;
  color: #8d715dc4;
}

h1.center-header {
  font-family: 'DM Serif Text', serif;
  letter-spacing: 0.01em;
  line-height: 1.1em;
  font-size: 3rem;
  font-weight: 300;
  color: #8d715dc4;
}

h3.bottom-header {
  font-family: 'Lato', sans-serif;
  letter-spacing: 0.02em;
  line-height: 1.1em;
  font-weight: 200;
  font-size: 1.5rem;
  color: #8d715dc4;
}

.section-margin {
  margin-top: 80px;
  margin-bottom: 50px;
}

@media(min-width:768px) {
  .section-margin {
    margin-top: 150px;
    margin-bottom: 25px;
  }
}

@media(min-width:992px) {
  .section-margin {
    margin-top: 200px;
    margin-bottom: 50px;
  }
}

@media(min-width:1200px) {
  .section-margin {
    margin-top: 250px;
    margin-bottom: 50px;
  }
}

.v-align-middle {
  align-items: center;
}

.custom-button {
  font-size: 0.625rem;
  letter-spacing: 0.4em;
  line-height: 1.3em;
  text-transform: uppercase;
  padding: 0.875rem 2.8125rem;
}

.intro {
  padding: 100px 10px 10px;
}

@media(min-width:992px) {
  .intro {
    padding: 0;
  }
}

.intro__text-block {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}

.intro__text-block--more-padding {
  padding-bottom: 60px;
}

.intro__headline {
  padding-top: 35px;
  text-align: center;
  text-transform: uppercase;
  color: #000;
}

.portfolio-headline {
  padding-top: 35px;
  text-align: center;
  text-transform: uppercase;
  color: #000;
}

.portfolio-img {
  padding-top: 30px;
}

@media(min-width:992px) {
  .half-bg {
    background: linear-gradient(-90deg, #F8F8F8 75%, #fff 25%);
  }
}

.portfolio-number, .portfolio-text {
  text-align: center;
  text-transform: uppercase;
}

.portfolio-number {
  font-size: 2.75rem;
  margin-top: 50px;
  margin-bottom: 10px;
}

.portfolio-text {
  letter-spacing: 0.5em;
  margin-bottom: 40px;
}

.footer {
  padding-top: 60px;
}

.footer__block {
  margin-bottom: 10px;
}

.socialmedia {
    overflow: hidden;
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
}

.socialmedia__item {
    display:inline-block;
    *display:inline;
    zoom:1;
}

.socialmedia__item a {
    font-family:si!important;
    font-style:normal;
    font-weight:400;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
    -o-box-sizing:border-box;
    box-sizing:border-box;

    -o-transition:.1s;
    -ms-transition:.1s;
    -moz-transition:.1s;
    -webkit-transition:.1s;
    transition:.1s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);

    overflow:hidden;
    text-decoration:none;
    text-align:center;
    display:block;
    position: relative;
    z-index: 1;
    width: 32px;
    height: 32px;
    line-height: 32px;
    font-size: 23px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    margin-right: 8px;
    color: #ffffff;
    background-color: #343a40;
}

.socialmedia__item a:hover {
    z-index: 2;
    background-color:#212121 !important;
}

.socialmedia__item--center {
    margin:0 !important;
}

.socialmedia__item--centering-icon {
  padding: 2px 5px 5px;
}

.copyright-notice {
  font-size: 0.6rem;
  text-align: center;
  padding-bottom: 50px;
}

a:link.copyright-notice--no-decoration-link, a:visited.copyright-notice--no-decoration-link, a:active.copyright-notice--no-decoration-link {
  color: rgba(0,0,0,.7);
}

.primary-padding {
  padding-top: 120px;
}

.impressum__block {
  padding-top: 10px;
  padding-bottom: 10px;
}

.impressum__block p {
  margin-bottom: 0;
  line-height: 1.6;
  font-size: 0.85rem;
}

.datenschutz__block {
  padding-top: 10px;
  padding-bottom: 10px;
}

.datenschutz__block p {
  margin-bottom: 0;
  line-height: 1.6;
  font-size: 0.85rem;
}

.datenschutz__block--add-margin p {
  margin-bottom: 10px;
}

/* about */

.about-intro, .about-block {
  margin-top: 100px;
  margin-bottom: 100px;
}

.about-intro--bg {
  background-image: url('/img/about/1.jpg');
  background-repeat: no-repeat;
  background-position: 60% 40%;
  background-size: cover;
}

.about-intro__main-block {
  padding-top: 5em;
  padding-left: 4em;
  padding-right: 4em;
  padding-bottom: 5em;
}

@media(min-width:1200px) {
  .about-intro__main-block {
    padding-left: 5em;
    padding-right: 5em;
  }
}

.main-block__text-box {
  background-color: #fff;
  padding: 3em;
  opacity: 0.89;
}

.main-block__text-box h5 {
  font-size: .8em;
  text-transform: uppercase;
  margin: 15px;
}

.main-block__text-box h3 {
  margin: 25px;
}

.main-block__text-box p, .about-block__text-box p {
  font-size: .875em;
  line-height: 1.9;
  margin-bottom: .5rem
}

.about-block__main-block p {
  font-size: 0.95em;
  font-family: 'Sorts Mill Goudy', serif;
}

.about-block__text-box {

  padding: 3em;
  margin-top: 10px;
  margin-bottom:10px;
}

.about-block__text-box p {
  line-height: 1.9;
}

.about-block--bg-color {
  background-color: #FAF7F6;
  padding: 100px 0px;
}

.extra-margin {
  margin-top: 30px;
}

/* contact pages */

.contact__details {
  margin-top: 30px;
  margin-bottom: 30px;
}

.contact__intro-block h5, .contact__details h5, .contact__studio-block h5 {
  font-size: .7em;
  text-transform: uppercase;
  margin: 15px;
}

.contact__details h3 {
  margin-bottom: 25px;
}

.custom-button__contact-details {
  font-size: 0.7rem;
  letter-spacing: 0.1em;
  text-transform: lowercase;
}

.contact__frame-block {
  height: 100%;
  background-color: #cbcbcb;
  padding: 3em;
  margin-top: 100px;
}

.contact__studio-block {
  background-color: #fff;
  padding: 2em;
}

@media(min-width:576px) {
  .contact__frame-block {
    padding: 4em;
  }

  .contact__studio-block {
    padding: 3em;
  }
}

.contact__studio-block p {
  text-align: center;
  font-size: .875em;
  line-height: 1.9;
  margin-bottom: 0.5em;
}

.contact__map-block {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  margin-top: 20px;
}

@media (min-width: 992px) {
  .contact__map-block {
    margin-top: 100px;
  }
}

.package {
  margin-bottom: 50px;
}

.package__nav a {
  font-size: 0.6rem;
  letter-spacing: 0.075em;
  margin: 2px;
  padding-top: .6rem;
  padding-left: .5rem;
  padding-right: .5rem;
  padding-bottom: .6rem;
}

@media(min-width:768px) {
  .package__nav a {
    width: 165px;
    font-size: 0.6rem;
    letter-spacing: 0.1em;
    margin: 2px;
    padding-top: .875rem;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: .875rem;
  }
}

.package__overview {
  margin-bottom: 50px;
}

.package__details {
  height: 100%;
  padding: 3em;
  background-repeat: no-repeat;
  background-size: cover;
}

.package__details--bg-babybauch {
  background-image: url('/img/pakete/babybauch.jpg');
  background-position: 0% 80%;
}

.package__details--bg-neugeborene {
  background-image: url('/img/pakete/neugeborene.jpg');
  background-position: center center;
}

.package__details--bg-kinder {
  background-image: url('/img/pakete/kinder.jpg');
}

.package__details--bg-cakesmash {
  background-image: url('/img/pakete/cakesmash.jpg');
  background-position: 10% 30%;
}

.package__box {
  background-color: #fff;
  padding: 2em;
  opacity: 0.89;
}

@media(min-width:576px) {
  .package__details {
    padding: 4em;
  }

  .package__box {
    padding: 3em;
  }
}

.box__headline {
  padding-top: 20px;
}

.box__points {
  margin-top: 40px;
  margin-bottom: 40px;
}

.box__points p {
  margin-bottom: 0;
  font-size: .77rem;
}

.box__extra {
  padding-top: 10px;
  font-weight: 600;
  font-family: 'Sorts Mill Goudy', serif;
  font-size: 0.75rem;
  letter-spacing: 0.04rem;
}

.box__tax {
  font-size: 0.7rem;
}

.gallery__nav {
  margin-top: 50px;
}

.gallery__nav a {
  font-size: 0.8rem;
  letter-spacing: 0.1em;
  margin: 2px;
  padding-top: .875rem;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: .875rem;
}

.gallery__nav a:link, a:visited, a:active {
  color: #000;
}

.gallery__nav a:hover {
  color: #cbcbcb;
  text-decoration: none;
}

.gallery__intro {
  margin-top: 50px;
}

.gallery__intro h4 {
  margin-bottom: 35px;
}
