@import url('https://fonts.googleapis.com/css?family=Sorts+Mill+Goudy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Forum&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Castoro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

@font-face {
  font-family: "Cherella";
  src: url('/fonts/Cherella.ttf');
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

html, body{
  width:100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Playfair Display', serif;
  text-align: center;
  letter-spacing: 0.125em;
  line-height: 1.3em;
  margin-bottom: 20px;
  color: #8c7a6c;
}

h3 {
  font-size: 1.4rem;
}

h4 {
  font-size: 0.9rem;
}

p {
    font-size: 0.825rem;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    line-height: 2;
    color: #8c7a6c;
}

nav {
  font-size: 0.75rem;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  line-height: 2;
  text-transform: uppercase;
  letter-spacing: 0.075em;
}

.navbar-expand-md .navbar-nav a.nav-link {
  padding: 1.5rem 1.3rem 1rem;
}

.navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link:hover {
  color: #8c7a6c
}

.navbar-light .navbar-nav .nav-link:hover {
  font-weight: 600;
}

.navbar-light .navbar-nav .nav-link {
    color: #8c7a6c;
}

.navbar-expand-md .navbar-nav .dropdown-menu a.nav-link {
  font-size: 0.7rem;
  padding: 1rem 1.5rem;
}

.navbar-nav .dropdown-menu {
  border-color: #8c7a6c;
}

.dropdown-item.active, .dropdown-item:active {
  background-color: transparent;
}

.dropdown-item:hover, .dropdown-item:focus {
  background-color: #faf5f1;
}

.navbar-header{
  display: flex;
}

.navbar-light .navbar-toggler {
  border-color: transparent;
}

.navbar-light .navbar-toggler-icon {
    background-image: url("/img/icon.png");
}

.brand-logo {
  height: 40px;
  position: absolute;
  left: 50%;
  margin-left: -74px !important;  /* 50% of your logo width */
  display: block;
}

@media(min-width:768px) {
  .brand-logo-center {
    display: block;
  }

  .brand-logo {
    position: inherit;
    left: 0;
    margin-left: 0px !important;
  }

  .navbar-expand-md .navbar-nav a.nav-link {
    padding: 1.5rem 0.6rem 1rem;
    font-size: 0.65rem;
  }
}

@media(min-width:1024px) {
  .navbar-expand-md .navbar-nav a.nav-link {
    padding: 1.5rem 1.4rem 1rem;
    font-size: 0.75rem;
  }
}


.intro-header {
  display: table;
  width: 100%;
  height: 70vh;
  background: url("/img/bg-img.jpeg") no-repeat 50% 10% scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.intro-header__body {
  display: table-cell;
  vertical-align: top;
}

h1.center-header {
  font-family: 'Cherella';
  letter-spacing: 0.01em;
  line-height: 1em;
  font-size: 3.25rem;
  font-weight: 300;
  color: #8c7a6c;
  margin: 100px 0px 20px;
  margin-left: 20px;
}

h3.bottom-header {
  font-family: 'Forum', cursive;
  letter-spacing: 0.02em;
  line-height: 1.1em;
  font-weight: 200;
  font-size: 0.9rem;
  color: #8c7a6c;
  opacity: 0.65;
}

@media(min-width:768px) {
  .intro-header {
    background-position: center center;
    height: 90vh;
  }

  .intro-header__body {
    display: table-cell;
    vertical-align: middle;
  }

  h4.top-header {
    font-family: 'Playfair Display', serif;
    letter-spacing: 0.15em;
    line-height: 1.1em;
    font-size: 1rem;
    color: #8c7a6c;
    opacity: 0.65;
  }

  h1.center-header {
    margin-top: 0;
    font-family: 'Cherella';
    letter-spacing: 0.01em;
    line-height: 1.1em;
    font-size: 3.9rem;
    font-weight: 300;
    margin: 35px 0px 20px;
  }

  h3.bottom-header {
    font-family: 'Forum', cursive;
    letter-spacing: 0.02em;
    line-height: 1.1em;
    font-weight: 200;
    font-size: 1.2rem;
    opacity: 0.65;
  }
}

.section-margin {
  margin-top: 80px;
  margin-bottom: 50px;
}

@media(min-width:768px) {
  .section-margin {
    margin-top: 150px;
    margin-bottom: 25px;
  }
}

@media(min-width:992px) {
  .section-margin {
    margin-top: 200px;
    margin-bottom: 50px;
  }
}

@media(min-width:1200px) {
  .section-margin {
    margin-top: 250px;
    margin-bottom: 50px;
  }
}

.v-align-middle {
  align-items: center;
}

.sub-navigation {
  margin: 20px 5px 0;
  color: #8c7a6c;
}

@media(min-width:768px) {
  .sub-navigation {
    margin: 20px 0 0;
  }
}

.sub-navigation::before {
  content: " · ";
}

.sub-navigation:first-of-type::before {
  content: "";
}

.sub-navigation__link {
  margin: 0 10px;
  font-size: 0.75rem;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  letter-spacing: 0.05em;
  line-height: 2;
  text-transform: uppercase;
  padding: .875rem 0 .1rem;
  text-align: center;
  color: #8c7a6c;
}

.active.sub-navigation__link {
  font-weight: 400;
}


/* .sub-navigation__link {
  margin-top: 30px;
} */

a.sub-navigation__link:link, a.sub-navigation__link:visited, a.sub-navigation__link:active {
  color: #8c7a6c;
  text-decoration: none;
}

a.sub-navigation__link:hover {
  color: #8c7a6c;
  text-decoration: none;
  font-weight: 400;
  border-bottom: .1rem solid #8c7a6c;
}

.custom-button {
  font-size: 0.625rem;
  letter-spacing: 0.2em;
  line-height: 1.3em;
  text-transform: uppercase;
  padding: 0.875rem 2.8125rem;
  border-color: #8c7a6c;
  background-color: transparent;
  color: #8c7a6c;
}

.custom-button:hover {
  color: #faf5f1;
  background-color: #8c7a6c;
  border-color: #8c7a6c;
}

.intro {
  padding: 100px 10px 10px;
}

@media(min-width:992px) {
  .intro {
    padding: 0;
  }
}

.intro__text-block {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}

.intro__text-block--more-padding {
  padding-bottom: 60px;
}

.intro__headline {
  padding-top: 35px;
  text-align: center;
  text-transform: uppercase;
}

.portfolio-headline {
  padding-top: 35px;
  text-align: center;
  text-transform: uppercase;
}

.portfolio-img {
  padding-top: 30px;
}

@media(min-width:992px) {
  .half-bg {
    background: linear-gradient(-90deg, #faf5f1 75%, #fff 25%);
  }
}

.portfolio-number, .portfolio-text {
  text-align: center;
  text-transform: uppercase;
}

.portfolio-number {
  font-size: 2.75rem;
  margin-top: 50px;
  margin-bottom: 10px;
}

.portfolio-text {
  letter-spacing: 0.5em;
  margin-bottom: 40px;
}

.footer {
  padding-top: 60px;
}

.footer__block {
  margin-bottom: 10px;
}

.socialmedia {
    overflow: hidden;
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
}

.socialmedia__item {
    display:inline-block;
    *display:inline;
    zoom:1;
}

.socialmedia__item a {
    font-family:si!important;
    font-style:normal;
    font-weight:400;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
    -o-box-sizing:border-box;
    box-sizing:border-box;

    -o-transition:.1s;
    -ms-transition:.1s;
    -moz-transition:.1s;
    -webkit-transition:.1s;
    transition:.1s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);

    overflow:hidden;
    text-decoration:none;
    text-align:center;
    display:block;
    position: relative;
    z-index: 1;
    width: 32px;
    height: 32px;
    line-height: 32px;
    font-size: 23px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    margin-right: 8px;
    color: #ffffff;
    background-color: #8c7a6c;
}

.socialmedia__item a:hover {
    z-index: 2;
    background-color:#8c7a6cad !important;
}

.socialmedia__item--center {
    margin:0 !important;
}

.socialmedia__item--centering-icon {
  padding: 2px 5px 5px;
}

.copyright-notice {
  font-size: .6rem;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 50px;
  color: #8c7a6c;
}

@media(min-width:576px) {
  .copyright-notice {
    font-size: .7rem;
  }
}

a:link.copyright-notice--no-decoration-link,
a:visited.copyright-notice--no-decoration-link,
a:active.copyright-notice--no-decoration-link {
  color: #8c7a6c;
  text-decoration: none;
}

a:hover.copyright-notice--no-decoration-link {
  color: #8c7a6cad;
}

.primary-padding {
  padding-top: 60px;
}

.impressum__block {
  padding-top: 10px;
  padding-bottom: 10px;
}

.impressum__block p {
  margin-bottom: 0;
  line-height: 1.6;
  font-size: 0.85rem;
}

.datenschutz__block {
  padding-top: 10px;
  padding-bottom: 10px;
}

.datenschutz__block p {
  margin-bottom: 0;
  line-height: 1.6;
  font-size: 0.85rem;
}

.datenschutz__block--add-margin p {
  margin-bottom: 10px;
}

/* about */

.about-intro, .about-block {
  margin-top: 50px;
  margin-bottom: 100px;
}

.about-intro--bg {
  background-image: url('/img/about/1.jpg');
  background-repeat: no-repeat;
  background-position: 60% 40%;
  background-size: cover;
}

.about-intro__main-block {
  padding: 2em;
}

.main-block__text-box {
  background-color: #fff;
  padding: 3em;
  opacity: 0.89;
}

.main-block__text-box h5 {
  font-size: .8em;
  text-transform: uppercase;
  margin: 15px;
}

.main-block__text-box h3 {
  margin: 25px;
}

.main-block__text-box p, .about-block__text-box p {
  font-size: .875em;
  line-height: 1.9;
  margin-bottom: .5rem
}

.about-block__main-block p {
  font-size: 0.95em;
  font-family: 'Sorts Mill Goudy', serif;
}

.about-block__text-box {

  padding: 3em;
  margin-top: 10px;
  margin-bottom:10px;
}

.about-block__text-box p {
  line-height: 1.9;
}

.about-block--bg-color {
  background-color: #faf5f1;
  padding: 50px 0px;
}

.extra-margin {
  margin-top: 30px;
}

@media(min-width:768px) {
  .about-intro, .about-block {
    margin-top: 100px;
  }

  .about-intro__main-block {
    padding-top: 5em;
    padding-left: 4em;
    padding-right: 4em;
    padding-bottom: 5em;
  }

  .about-block--bg-color {
    padding: 100px 0px;
  }
}

@media(min-width:1200px) {
  .about-intro__main-block {
    padding-left: 5em;
    padding-right: 5em;
  }
}

/* contact pages */

.contact__details {
  margin-bottom: 30px;
  padding: 60px 50px;
  background-color: #faf5f17a;
}

.contact__intro-block {
  margin: 50px 0;
}

.contact__intro-block h5, .contact__details h5, .contact__studio-block h5 {
  font-size: .7em;
  text-transform: uppercase;
  margin: 15px;
}

.contact__details h3 {
  margin-bottom: 30px;
}

.custom-button__contact-details {
  font-size: 0.7rem;
  letter-spacing: 0.1em;
  text-transform: lowercase;
  line-height: 1.3em;
  padding: 0.875rem 2.8125rem;
}

.contact__frame-block {
  height: 100%;
  padding: 3em;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/studio/studio-set.jpg");
}

.contact__studio-block {
  background-color: rgba(255,255,255, .61);
  padding: 2em;
}

@media(min-width:576px) {
  .contact__atelier {
    margin-top: 50px;
  }

  .contact__frame-block {
    padding: 10em 4em;
  }

  .contact__studio-block {
    padding: 3em;
  }
}

.contact__studio-block p {
  text-align: center;
  font-size: .875em;
  line-height: 1.9;
  margin-bottom: 0.5em;
}

.contact__studio-block p:first-of-type {
  margin-bottom: 0em;
}

.contact__map-block {
  -webkit-filter: opacity(75%);
  filter: opacity(75%);
  margin-top: 25px;
}

.package {
  margin-bottom: 50px;
}

.package__overview {
  margin-bottom: 50px;
}

.package__details {
  height: 100%;
  padding: 2em;
  background-repeat: no-repeat;
  background-size: cover;
}

.package__details--bg-babybauch {
  background-image: url('/img/pakete/babybauch.jpg');
  background-position: 55% 0%;
}

.package__details--bg-neugeborene {
  background-image: url('/img/pakete/neugeborene.jpg');
  background-position: 47% center;
}

.package__details--bg-kinder {
  background-image: url('/img/pakete/kinder.jpg');
  background-position: 47% center;
}

.package__details--bg-cakesmash {
  background-image: url('/img/pakete/cakesmash.jpg');
  background-position: 10% 30%;
}

.package__box {
  background-color: #fff;
  padding: 2em;
  opacity: 0.8;
  margin-top: 10px;
}

@media(min-width:576px) {
  .package__details--bg-babybauch {
    background-position: 0% 80%;
  }

  .package__details--bg-neugeborene {
    background-position: center center;
  }

  .package__details--bg-kinder {
    background-position: center center;
  }

  .package__details--bg-cakesmash {
    background-position: 10% 30%;
  }

  .package__details {
    padding: 3em;
  }

  .package__box {
    padding: 2em;
  }
}

@media(min-width:1024px) {
  .package__box {
    padding: 3em;
  }
}

.box__headline {
  padding-top: 20px;
}

.box__points {
  margin-top: 40px;
  margin-bottom: 40px;
}

.box__points p {
  margin-bottom: 0;
  font-size: .77rem;
}

.box__extra {
  padding-top: 10px;
  font-weight: 600;
  font-family: 'Sorts Mill Goudy', serif;
  font-size: 0.75rem;
  letter-spacing: 0.04rem;
}

.box__tax {
  font-size: 0.7rem;
}

.gallery__intro {
  margin-top: 50px;
  margin-bottom: 50px;
}

.gallery__intro h4 {
  margin-bottom: 35px;
}

.gallery__photos {
  margin-top: 30px;
}

@media (min-width: 576px) {
  .gallery__photos {
    margin-top: 50px;
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 0.75rem;
    -moz-column-gap: 0.75rem;
    column-gap: 0.75rem;
  }
}

/* components */

.route-intro-name {
  background-color: #faf5f1;
}

.route-intro-name__header {
  padding: 100px 0 80px;
  font-family: 'Cherella';
  letter-spacing: 0.01em;
  font-size: 4rem;
  color: #8c7a6c;
}

@media (min-width: 576px) {
  .route-intro-name__header {
    font-size: 6rem;
  }
}