@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600|Sorts+Mill+Goudy&display=swap');

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Sorts Mill Goudy', serif;
  text-align: center;
  letter-spacing: 0.125em;
  line-height: 1.3em;
  margin-bottom: 20px;
}

h3 {
  font-size: 1.4rem;
}

h4 {
  font-size: 0.9rem;
}

p {
    font-size: 0.825rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    line-height: 2;
    color: rgba(0,0,0,.7);
}

.section-margin {
  margin-bottom: 50px;
}

.v-align-middle {
  align-items: center;
}

.custom-button {
  font-size: 0.625rem;
  letter-spacing: 0.4em;
  line-height: 1.3em;
  text-transform: uppercase;
  padding: 0.875rem 2.8125rem;
}

.intro {
  padding: 100px 10px;
}

.intro__text-block {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}

.intro__text-block--more-padding {
  padding-bottom: 60px;
}

.intro__headline {
  padding-top: 35px;
  text-align: center;
  text-transform: uppercase;
  color: #000;
}

.portfolio-headline {
  padding-top: 35px;
  text-align: center;
  text-transform: uppercase;
  color: #000;
}

.portfolio-img {
  padding-top: 30px;
}

@media(min-width:992px) {
  .half-bg {
    background: linear-gradient(-90deg, #F8F8F8 75%, #fff 25%);
  }
}

.portfolio-number, .portfolio-text {
  text-align: center;
  text-transform: uppercase;
}

.portfolio-number {
  font-size: 2.75rem;
  margin-top: 50px;
  margin-bottom: 10px;
}

.portfolio-text {
  letter-spacing: 0.5em;
  margin-bottom: 40px;
}

.footer {
  padding-top: 60px;
}

.footer__block {
  margin-bottom: 10px;
}

.socialmedia {
    overflow: hidden;
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
}

.socialmedia__item {
    display:inline-block;
    *display:inline;
    zoom:1;
}

.socialmedia__item a {
    font-family:si!important;
    font-style:normal;
    font-weight:400;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
    -o-box-sizing:border-box;
    box-sizing:border-box;

    -o-transition:.1s;
    -ms-transition:.1s;
    -moz-transition:.1s;
    -webkit-transition:.1s;
    transition:.1s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);

    overflow:hidden;
    text-decoration:none;
    text-align:center;
    display:block;
    position: relative;
    z-index: 1;
    width: 32px;
    height: 32px;
    line-height: 32px;
    font-size: 23px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    margin-right: 8px;
    color: #ffffff;
    background-color: #343a40;
}

.socialmedia__item a:hover {
    z-index: 2;
    background-color:#212121 !important;
}

.socialmedia__item--center {
    margin:0 !important;
}

.socialmedia__item--centering-icon {
  padding: 2px 5px 5px;
}

.copyright-notice {
  font-size: 0.6rem;
  text-align: center;
  padding-bottom: 50px;
}

a:link.copyright-notice--no-decoration-link, a:visited.copyright-notice--no-decoration-link, a:active.copyright-notice--no-decoration-link {
  color: rgba(0,0,0,.7);
}

.impressum__block {
  padding-top: 10px;
  padding-bottom: 10px;
}

.impressum__block p {
  margin-bottom: 0;
  line-height: 1.6;
  font-size: 0.85rem;
}

.datenschutz__block {
  padding-top: 10px;
  padding-bottom: 10px;
}

.datenschutz__block p {
  margin-bottom: 0;
  line-height: 1.6;
  font-size: 0.85rem;
}

.datenschutz__block--add-margin p {
  margin-bottom: 10px;
}

/* about */

.about-intro, .about-block {
  margin-top: 100px;
  margin-bottom: 100px;
}

.about-intro--bg {
  background: linear-gradient(-90deg, #cbcbcb 57%, #fff 0%);
}

.about-intro__main-block {
  padding-left: 2em;
  padding-right: 2em;
}

@media(min-width:1200px) {
  .about-intro__main-block {
    padding-left: 5em;
    padding-right: 5em;
  }
}

.main-block__text-box {
  background-color: #fff;
  padding: 3em;
}

.main-block__text-box h5 {
  font-size: .7em;
  text-transform: uppercase;
  margin: 15px;
}

.main-block__text-box h3 {
  margin: 25px;
}

.main-block__text-box p {
  font-size: .875em;
  line-height: 1.9;
}

.about-block__main-block p {
  font-size: 1em;
  font-family: 'Sorts Mill Goudy', serif;
}

.about-block--bg-90 {
  background: linear-gradient(90deg, #cbcbcb 60%, #fff 0%);
  padding-top: 50px;
  padding-bottom: 50px;
}

.about-block__left-block {
  padding-left: 3em;
  padding-right: 2em;
}

@media(min-width:1200px) {
  .about-block__left-block {
    padding-left: 4em;
  }
}

.about-block__text-box {
  background-color: #fff;
  padding: 3em;
  margin-top: 10px;
  margin-bottom:10px;
}

.about-block__text-box p {
  line-height: 1.9;
}

.minus-margin {
  margin-top: -70px;
}

.extra-margin {
  margin-top: 70px;
}

.about-block__hr {
  margin-top: 80px;
  margin-bottom: 80px;
}