<p class="copyright-notice">
  &copy;2015-{{current-year}} Marta Wilk Photography | {{link-to "Impressum" "impressum" class="copyright-notice--no-decoration-link"}} & {{link-to "Datenschutzerklärung" "datenschutz" class="copyright-notice--no-decoration-link"}}
</p>