<div class="row justify-content-center">
  {{#each @gallery as |gallery|}}
    <div class="sub-navigation">
      <LinkTo @route="bildergalerie.gallery"
              class="sub-navigation__link"
              role="button"
              @model={{gallery}}>
              {{gallery.name}}
      </LinkTo>
    </div>
  {{/each}}
</div>