<h6 class="gallery__nav">
  <LinkTo @route="bildergalerie.neugeborene-und-babybauch">Neugeborene & Babybauch</LinkTo> //
  <LinkTo @route="bildergalerie.kinder-und-familien">Kinder & Familien</LinkTo> //
  <LinkTo @route="bildergalerie.portrait">Porträtfotografie</LinkTo>
</h6>