<div class="route-intro-name">
  <div class="row justify-content-center">
    <div class="col-sm-11 col-md-8 col-lg-6">
      <h1 class="route-intro-name__header">{{yield}}</h1>
    </div>
  </div>
</div>