<ul class="socialmedia">
  <li class="socialmedia__item">
    <a href="https://www.facebook.com/martawilkphotography" target="_blank">
      <img src="img/social-media/facebook-48.png" class="socialmedia__item--centering-icon img-fluid" alt="Facebook">
    </a>
  </li>
  <li class="socialmedia__item">
    <a class="socialmedia__item--center" href="https://www.instagram.com/martawilkphotography/" target="_blank">
      <img src="img/social-media/instagram-48.png" class="socialmedia__item--centering-icon img-fluid" alt="Instagram">
    </a>
  </li>
</ul>