<div class="sub-navigation">
  <LinkTo @route="{{@route}}"
          @activeClass="sub-navigation__link--active"
          class="sub-navigation__link"
          role="button">
          {{yield}}
  </LinkTo>
</div>