<Navbar @gallery={{@model}} />
{{outlet}}
<footer>
  <div class="container">
    <div class="footer">
      <div class="footer__block">
        <SocialMedia />
      </div>
      <div class="footer__block">
        <CopyrightNotice />
      </div>
    </div>
  </div>
</footer>