<RouteIntro>
  <img src="/img/pakete.png" class="img-fluid" alt="Pakete & Preise"/>
</RouteIntro>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-11">
      <div class="package">
        <div class="package__nav">
          <div class="row justify-content-center">
            {{#each @model.categories as |category|}}
              <SubNav @route="pakete.{{category.route}}">{{category.name}}</SubNav>
            {{/each}}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col">
      <div class="package">
        {{outlet}}
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-lg-10">
      <div class="package">
        <p class="text-center">{{@model.explainer}}</p>
      </div>
    </div>
  </div>
</div>